@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --color-cegment: #10131a;
  --color-navbar: #141722;
  --color-header: #a92117;
  --color-brand_blue: #181e30;
  --color-nav:  #cfd4ff;             /* основной текст пунктов */
  --color-nav-muted: #9aa0c3;        /* иконка/неактивный */
  --color-nav-active: #ffffff;       /* активный пункт */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
